.foter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.foter-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.foter-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.foter-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
}
.foter-links li{
    cursor: pointer;


}
.foter-social-icon{
    display: flex;
    gap: 20px;
    background: none;
}
.foter-icon-container{
   padding: 10px;
   padding-bottom: 1px;

   
  
}
.foter-copyright{
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
width: 100%;
margin-bottom: 30px;
color: #1a1a1a;
font-size: 20px;
}
.foter-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
.foter-logo img{
    width: 150px;
    height: 150px;
}
.foter-icon-container a svg {
  width: 40px !important;   /* increase width */
  height: 40px !important;  /* increase height */
}

@media (max-width:800px) {

    .foter{
        gap: 20px;
    }

    .foter-logo{
        gap: 10px;
        
    }
    .foter-logo img{
      transform: scale(0.75);
    }

    .foter-logo p{
        font-size: 25px;
margin-right: 60px;
    }

    .foter-links{

        font-size: 14px;
        gap: 20px;
        margin-top: -20px;
        margin-bottom: 10px; 
        margin-left: -30px;
    }

    .foter-icon-container {
width: 22px;
    }
    .foter-copyright{
        font-size: 13px;
    }
}