.loginsignup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
}

.login-container {
  width: 550px;
  height: 500px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  margin: 60px 0;
  text-align: center;
  font-size: 28px;
  color: #333;
}

.login-signup-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.login-signup-fields input {
  height: 62px;
  width: 100%;
  padding-left: 20px;
  font-size: 18px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  border-radius: 5px;
  transition: 0.3s;
}

.login-signup-fields input:focus {
  border-color: #000;
}

.login-container button {
  width: 100%;
  height: 62px;
  background: black;
  color: white;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.login-container button:hover {
  background: #333;
}

.login-message {
  text-align: center;
  color: red;
  margin-top: 15px;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 1280px) {
  .loginsignup {
    padding-top: 50px;
  }

  .login-container {
    width: auto;
    max-width: 500px;
    max-height: 550px;
  }

  .login-container h1 {
    margin: 10px 0;
  }

  .login-signup-fields {
    gap: 20px;
    margin-top: 20px;
  }

  .login-signup-fields input {
    height: 65px;
    width: 93%;
  }

  .login-container button {
    width: 100%;
  }

  .login-message {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .login-container {
    padding: 20px 30px;
  }

  .login-container h1 {
    font-size: 24px;
  }

  .login-signup-fields {
    margin-top: 20px;
  }

  .login-signup-fields input {
    height: 50px;
  }

  .login-container button {
    height: 50px;
    font-size: 16px;
  }
}
