/* -------------------- MAIN FOOTER -------------------- */

.foter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
    background: #f8f8f8;
    width: 100%;
}

/* -------------------- LOGO + HEADING -------------------- */

.foter-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;      
    white-space: nowrap;    
    gap: 15px;
}

.foter-logo img {
    width: 150px;
    height: auto;
}

.foter-logo p {
    color: #222;
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}

/* -------------------- LINKS -------------------- */

.foter-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}

.foter-links li {
    cursor: pointer;
    transition: 0.3s;
}

.foter-links li:hover {
    color: #0bbf58;  /* light green hover */
    transform: translateY(-2px);
}

/* -------------------- SOCIAL ICONS -------------------- */

.foter-social-icon {
    display: flex;
    gap: 20px;
}

.foter-icon-container {
   padding: 8px;
   padding-bottom: 1px;
   transition: 0.3s;
}

.foter-icon-container:hover {
    transform: scale(1.15);
}

.foter-icon-container a svg {
  width: 40px !important;
  height: 40px !important;
  transition: 0.3s;
  fill: #0bbf58;        /* green icons */
}

.foter-icon-container:hover a svg {
    fill: #000;
}

/* -------------------- COPYRIGHT SECTION -------------------- */

.foter-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 18px;
}

.foter-copyright hr {
    width: 85%;
    border: none;
    height: 3px;
    border-radius: 10px;
    background: #c7c7c7;
}

/* -------------------- RESPONSIVE -------------------- */

/* Tablet */
@media (max-width: 900px) {
    .foter {
        gap: 30px;
        padding: 30px 0;
    }

    .foter-logo img {
        width: 120px;
    }

    .foter-logo p {
        font-size: 34px;
    }

    .foter-links {
        font-size: 18px;
        gap: 30px;
    }
}

/* Mobile Medium */
@media (max-width: 700px) {
    .foter-logo img {
        width: 90px;
    }

    .foter-logo p {
        font-size: 26px;
    }

    .foter-links {
        font-size: 16px;
        gap: 20px;
    }

    .foter-icon-container a svg {
        width: 30px !important;
        height: 30px !important;
    }

    .foter-copyright {
        font-size: 15px;
    }
}

/* Mobile Small */
@media (max-width: 500px) {
    .foter-logo img {
        width: 70px;
    }

    .foter-logo p {
        font-size: 18px;
    }

    .foter-links {
        font-size: 14px;
        gap: 15px;
    }

    .foter-icon-container a svg {
        width: 26px !important;
        height: 26px !important;
    }

    .foter-copyright {
        font-size: 13px;
    }
}
