.loginsignup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
}
.login-container {
  width: 550px;
  height: 570px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}
.login-container h1 {
  margin: 20px 0px;
}
.login-signup-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.login-signup-fields input {
  height: 62px;
  width: 100%;
  padding-left: 20px;
  font-size: 18px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  border-radius: 5px;
}
.login-container button {
  width: 580px;
  height: 62px;
  background: black;
  color: white;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login-signup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.login-signup-login span {
  color: black;
  font-weight: 600;
}
.login-signup-agree {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: #5c5c5c;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 1280px) {
  .loginsignup {
    padding-top: 50px;
  }

  .login-container {
    width: auto;
    max-width: 500px;
    max-height: 550px;
  }
  .login-container h1 {
    margin: 10px 0px;
  }
  .login-signup-fields {
    gap: 20px;
    margin-top: 20px;
  }

  .login-signup-fields input {
    height: 65px;
    width: 93%;
  }
  .login-container button {
    width: 100%;
  }

  .login-signup-login {
    font-size: 16px;
  }
  .login-signup-agree {
    font-size: 14px;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .login-container {
    padding: 20px 30px;
  }
  .login-container h1 {
    font-size: 24px;
  }
  .login-signup-fields {
    margin-top: 20px;
  }
  .login-signup-fields input {
    height: 50px;
  }
  .login-container button {
    height: 50px;
    font-size: 16px;
  }
}
