.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 25px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}
.whatsapp-text {
  font-size: 16px;
  font-weight: 500;
}