.news-letter{
   width: 60%;
   height: 40vh;
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: white;
    gap: 50px;
}
.news-letter h1{
    font-size: 50px;
    font-weight: 600;
    color: #454545;

}
.news-letter h1,
.news-letter p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* ... aa jayega agar jagah kam ho */
}

.news-letter p{
    font-size: 20px;
     color: #454545;
}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.news-letter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Poppins;

}
.news-letter button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background:black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

@media (max-width:1280px) {

    .news-letter{

        padding: 0px 80px;
        margin-bottom: 120px ;
        gap: 20px;
    }
    .news-letter h1{
        font-size: 36px;

    }

    .news-letter p{

        font-size: 16px;
    }

    .news-letter div{
        width: 600px;
        height: 60px;
    }
    .news-letter div input{
        width: 400px;
    }

    .news-letter div button{
        width: 160px;
        height: 60px;
    }
}

@media (max-width:1024px) {

    .news-letter{

        
        margin-bottom: 60px ;
        
    }
    .news-letter h1{
        font-size: 30px;

    }

    .news-letter p{

        font-size: 14px;
    }

    .news-letter div{
        width: 500px;
        height: 50px;
    }
    .news-letter div input{
        width: 300px;
        font-size: 14px;
    }

    .news-letter div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width:800px) {

    .news-letter{

        
        margin-bottom: 30px ;
        height: 35vh;
        
    }
    .news-letter h1{
        font-size: 18px;

    }

    .news-letter p{

        font-size: 12px;
    }

    .news-letter div{
        width: 400px;
        height: 40px;
    }
    .news-letter div input{
        width: 200px;
        font-size: 13px;
    }

    .news-letter div button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width:500px) {

    .news-letter{

        
        padding: 0;
        gap: 15px;
        height: 25vh;
        width: 100%;
        
    }
    .news-letter h1{
        font-size: 16px;

    }

    .news-letter p{

        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }

    .news-letter div{
        width: 290px;
      
    }
    .news-letter div input{
        width: 130px;
       
    }
}